.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 3rem;
  font-family: var(--poppins-font);
  font-weight: 500;
}

.image_text_container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.text_container {
  flex: 2;
}

.text {
  font-family: var(--poppins-font);
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.text_bold {
  font-weight: 700;
}

.image_container {
  flex: 1;
}

@media (320px <= width <= 480px) {
  .container {
    gap: 3rem;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.2;
  }

  .image_text_container {
    flex-direction: column;
  }

  .image_container {
    display: none;
  }
}
