.container {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards_container {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
